openapi: 3.0.3
info:
  title: IPSW Downloads API
  version: 1.0.0
  description: >-
    Download current and previous versions of Apple's iOS Firmware, iTunes and
    OTA updates.
servers:
  - url: https://api.ipsw.me/v4
paths:
  /device/{identifier}:
    get:
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Expires:
              schema:
                type: string
            X-Data-Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      name:
                        type: string
                      identifier:
                        type: string
                      firmwares:
                        type: array
                        items:
                          type: object
                          properties:
                            identifier:
                              type: string
                            version:
                              type: string
                            buildid:
                              type: string
                            sha1sum:
                              type: string
                            md5sum:
                              type: string
                            filesize:
                              type: number
                            url:
                              type: string
                            releasedate:
                              type: string
                            uploaddate:
                              type: string
                            signed:
                              type: boolean
                          required:
                            - identifier
                            - version
                            - buildid
                            - sha1sum
                            - md5sum
                            - filesize
                            - url
                            - releasedate
                            - uploaddate
                            - signed
                      boards:
                        type: array
                        items:
                          type: object
                          properties:
                            boardconfig:
                              type: string
                            platform:
                              type: string
                            cpid:
                              type: number
                            bdid:
                              type: number
                          required:
                            - boardconfig
                            - platform
                            - cpid
                            - bdid
                      boardconfig:
                        type: string
                      platform:
                        type: string
                      cpid:
                        type: number
                      bdid:
                        type: number
                  - type: object
                    properties:
                      name:
                        type: string
                      identifier:
                        type: string
                      firmwares:
                        type: array
                        items:
                          type: object
                          properties:
                            identifier:
                              type: string
                            version:
                              type: string
                            buildid:
                              type: string
                            sha1sum:
                              type: string
                            md5sum:
                              type: string
                            filesize:
                              type: number
                            url:
                              type: string
                            releasedate:
                              type: string
                            uploaddate:
                              type: string
                            signed:
                              type: boolean
                          required:
                            - identifier
                            - version
                            - buildid
                            - sha1sum
                            - md5sum
                            - filesize
                            - url
                            - releasedate
                            - uploaddate
                            - signed
                      boards:
                        type: array
                        items:
                          type: object
                          properties:
                            boardconfig:
                              type: string
                            platform:
                              type: string
                            cpid:
                              type: number
                            bdid:
                              type: number
                      boardconfig:
                        type: string
                      platform:
                        type: string
                      cpid:
                        type: number
                      bdid:
                        type: number
                  - type: object
                    properties:
                      name:
                        type: string
                      identifier:
                        type: string
                      firmwares:
                        type: array
                        items:
                          type: object
                          properties:
                            identifier:
                              type: string
                            version:
                              type: string
                            buildid:
                              type: string
                            sha1sum:
                              type: string
                            md5sum:
                              type: string
                            filesize:
                              type: number
                            url:
                              type: string
                            releasedate:
                              nullable: true
                            uploaddate:
                              type: string
                            signed:
                              type: boolean
                          required:
                            - identifier
                            - version
                            - buildid
                            - sha1sum
                            - md5sum
                            - filesize
                            - url
                            - releasedate
                            - uploaddate
                            - signed
                      boards:
                        type: array
                        items:
                          type: object
                          properties:
                            boardconfig:
                              type: string
                            platform:
                              type: string
                            cpid:
                              type: number
                            bdid:
                              type: number
                      boardconfig:
                        type: string
                      platform:
                        type: string
                      cpid:
                        type: number
                      bdid:
                        type: number
                  - type: object
                    properties:
                      name:
                        type: string
                      identifier:
                        type: string
                      firmwares:
                        type: array
                        items:
                          type: object
                          properties:
                            identifier:
                              type: string
                            buildid:
                              type: string
                            version:
                              type: string
                            url:
                              type: string
                            filesize:
                              type: number
                            prerequisitebuildid:
                              type: string
                            prerequisiteversion:
                              type: string
                            releasetype:
                              type: string
                            uploaddate:
                              type: string
                            releasedate:
                              type: string
                            marketingversion:
                              type: string
                            signed:
                              type: boolean
                          required:
                            - identifier
                            - buildid
                            - version
                            - url
                            - filesize
                            - prerequisitebuildid
                            - prerequisiteversion
                            - releasetype
                            - uploaddate
                            - releasedate
                            - marketingversion
                            - signed
                      boards:
                        type: array
                        items:
                          type: object
                          properties:
                            boardconfig:
                              type: string
                            platform:
                              type: string
                            cpid:
                              type: number
                            bdid:
                              type: number
                      boardconfig:
                        type: string
                      platform:
                        type: string
                      cpid:
                        type: number
                      bdid:
                        type: number
              examples:
                example1:
                  value:
                    name: iPhone 6s
                    identifier: iPhone8,1
                    firmwares:
                      - identifier: iPhone8,1
                        version: 13.1.3
                        buildid: 17A878
                        sha1sum: 96be7a8e55ec4bd1867bd1d7f18b1f24f8731838
                        md5sum: e7f95f23dd0d8f406b2ef95d4b63bc5c
                        filesize: 3652675161
                        url: >-
                          http://updates-http.cdn-apple.com/2019FallFCS/fullrestores/061-30582/2A093596-EB7A-11E9-9505-C810329334FA/iPhone_4.7_13.1.3_17A878_Restore.ipsw
                        releasedate: '2019-10-15T17:00:31Z'
                        uploaddate: '2019-10-10T17:31:00Z'
                        signed: true
                      - identifier: iPhone8,1
                        version: 13.1.2
                        buildid: 17A860
                        sha1sum: a90465c172cd77bcb5bf112993c8ee7caba632d1
                        md5sum: 5c247ad50b0bd470ea976c742bc42240
                        filesize: 3654014311
                        url: >-
                          http://updates-http.cdn-apple.com/2019FallFCS/fullrestores/061-22597/37272F4C-E18B-11E9-9F72-B96496A9EC6E/iPhone_4.7_13.1.2_17A860_Restore.ipsw
                        releasedate: '2019-09-30T17:11:19Z'
                        uploaddate: '2019-09-28T01:09:45Z'
                        signed: true
                      - identifier: iPhone8,1
                        version: 13.1.1
                        buildid: 17A854
                        sha1sum: 6fd3eaa23d13d26f8174c353d92b55c0ecc1698b
                        md5sum: a902e7dae4d9f15fe9d1a1a317a04740
                        filesize: 3651115452
                        url: >-
                          http://updates-http.cdn-apple.com/2019FallFCS/fullrestores/061-18421/E8F8D60E-DED8-11E9-A685-B200DC34986D/iPhone_4.7_13.1.1_17A854_Restore.ipsw
                        releasedate: '2019-09-27T16:58:00Z'
                        uploaddate: '2019-09-24T14:51:54Z'
                        signed: false
                      - identifier: iPhone8,1
                        version: '13.1'
                        buildid: 17A844
                        sha1sum: 3421b3825922e4f3d32e890a75b8ad3ba69a69f2
                        md5sum: a8cc4f157d799b1776028c7ce305ddf2
                        filesize: 3652404986
                        url: >-
                          http://updates-http.cdn-apple.com/2019FallFCS/fullrestores/091-99496/DCDE77CC-D986-11E9-AC76-A120DCDBD6A3/iPhone_4.7_13.1_17A844_Restore.ipsw
                        releasedate: '2019-09-24T17:03:38Z'
                        uploaddate: '2019-09-17T20:21:50Z'
                        signed: false
                    boards:
                      - boardconfig: N71AP
                        platform: s8000
                        cpid: 32768
                        bdid: 4
                      - boardconfig: N71mAP
                        platform: s8003
                        cpid: 32771
                        bdid: 4
                    boardconfig: N71AP
                    platform: s8000
                    cpid: 32768
                    bdid: 4
                example2:
                  value:
                    name: iPhone 6+
                    identifier: iPhone7,1
                    firmwares:
                      - identifier: iPhone7,1
                        version: 12.4.2
                        buildid: 16G114
                        sha1sum: 58a91fa4d73077133772e464f761c96ad91df683
                        md5sum: 10d9aeb0d87a04a40417be05c0b19a44
                        filesize: 3328746693
                        url: >-
                          http://updates-http.cdn-apple.com/2019SummerFCS/fullrestores/061-20538/FD3DCDB6-DC8C-11E9-ABB0-278C66A83945/iPhone_5.5_12.4.2_16G114_Restore.ipsw
                        releasedate: '2019-09-26T17:04:56Z'
                        uploaddate: '2019-09-21T16:42:04Z'
                        signed: true
                      - identifier: iPhone7,1
                        version: 12.4.1
                        buildid: 16G102
                        sha1sum: 671863b1a34cb4d8abc44919679c645f0500486d
                        md5sum: 8a374df4132aedddd0207c8978080b35
                        filesize: 3345837529
                        url: >-
                          http://updates-http.cdn-apple.com/2019SummerFCS/fullrestores/061-05190/A449778A-C4E7-11E9-BE68-18610AD8B7A1/iPhone_5.5_12.4.1_16G102_Restore.ipsw
                        releasedate: '2019-08-26T18:30:09Z'
                        uploaddate: '2019-08-22T14:27:57Z'
                        signed: false
                      - identifier: iPhone7,1
                        version: '12.4'
                        buildid: 16G77
                        sha1sum: e435aa95763167106707e5d6534a4dcb66408f18
                        md5sum: 75279e6f2f850ba825addfe590afb8ba
                        filesize: 3345389368
                        url: >-
                          http://updates-http.cdn-apple.com/2019SummerFCS/fullrestores/041-86579/9E26E61A-A743-11E9-87D6-F185B65480B0/iPhone_5.5_12.4_16G77_Restore.ipsw
                        releasedate: '2019-07-22T17:08:32Z'
                        uploaddate: '2019-07-15T21:08:52Z'
                        signed: false
                      - identifier: iPhone7,1
                        version: 12.3.1
                        buildid: 16F203
                        sha1sum: a168b1bc901fb64cf725ab0dcca183dd684770dc
                        md5sum: 84a83ab5e05e2560fd6b08d6c014cd82
                        filesize: 3339505439
                        url: >-
                          http://updates-http.cdn-apple.com/2019SpringFCS/fullrestores/041-68573/CC468F46-7C96-11E9-80BA-4EF06256CCDB/iPhone_5.5_12.3.1_16F203_Restore.ipsw
                        releasedate: '2019-05-24T17:02:33Z'
                        uploaddate: '2019-05-22T13:57:50Z'
                        signed: false
                    boards:
                      - boardconfig: N56AP
                        platform: t7000
                        cpid: 28672
                        bdid: 4
                    boardconfig: N56AP
                    platform: t7000
                    cpid: 28672
                    bdid: 4
                example3:
                  value:
                    name: iPhone 3G
                    identifier: iPhone1,2
                    firmwares:
                      - identifier: iPhone1,2
                        version: 4.2.1
                        buildid: 8C148
                        sha1sum: d2ed58586e8ca2153f2e2ec585bba8afc5173378
                        md5sum: 8b1657935408a1638b69740b282f62b3
                        filesize: 338579762
                        url: >-
                          http://appldnld.apple.com/iPhone4/061-9853.20101122.Vfgt5/iPhone1,2_4.2.1_8C148_Restore.ipsw
                        releasedate: null
                        uploaddate: '2010-11-18T17:30:48Z'
                        signed: true
                      - identifier: iPhone1,2
                        version: '4.1'
                        buildid: 8B117
                        sha1sum: d87bab469dd1146ab83ddcc23f03b3164d7e09d4
                        md5sum: 8cc589baad3c80dd8324c37d7dc00750
                        filesize: 323137556
                        url: >-
                          http://appldnld.apple.com/iPhone4/061-7932.20100908.3fgt5/iPhone1,2_4.1_8B117_Restore.ipsw
                        releasedate: null
                        uploaddate: '2010-09-03T14:12:24Z'
                        signed: true
                      - identifier: iPhone1,2
                        version: 4.0.2
                        buildid: 8A400
                        sha1sum: ee2bc74719170a7a2440b593b6f300727c930c69
                        md5sum: 6f3aefe1f8f516ae6e91fe993749347a
                        filesize: 320216794
                        url: >-
                          http://appldnld.apple.com/iPhone4/061-8802.20100811.XcfpR/iPhone1,2_4.0.2_8A400_Restore.ipsw
                        releasedate: null
                        uploaddate: '2010-08-09T19:52:20Z'
                        signed: true
                      - identifier: iPhone1,2
                        version: 4.0.1
                        buildid: 8A306
                        sha1sum: 940bd2b36c646f6673419eab661ac1f13248e592
                        md5sum: 8a952dbd03fa5e85da1a31092c651a25
                        filesize: 320237975
                        url: >-
                          http://appldnld.apple.com/iPhone4/061-8616.20100715.phnt4/iPhone1,2_4.0.1_8A306_Restore.ipsw
                        releasedate: null
                        uploaddate: '2010-07-13T20:13:59Z'
                        signed: true
                    boards:
                      - boardconfig: n82ap
                        platform: s5l8900x
                        cpid: 35072
                        bdid: 4
                    boardconfig: n82ap
                    platform: s5l8900x
                    cpid: 35072
                    bdid: 4
                example4:
                  value:
                    name: iPod touch 1G
                    identifier: iPod1,1
                    firmwares:
                      - identifier: iPod1,1
                        version: 1.1.5
                        buildid: 4B1
                        sha1sum: 1b818911316e4248ee01d3ec67f9d39afc3db240
                        md5sum: 80b46fe8db7cfe58bb67e8553f495a8d
                        filesize: 173519637
                        url: >-
                          http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/bundles/061-4841.20080714.bgy8O/iPod1,1_1.1.5_4B1_Restore.ipsw
                        releasedate: null
                        uploaddate: '2008-07-14T21:39:28Z'
                        signed: false
                      - identifier: iPod1,1
                        version: 1.1.4
                        buildid: 4A102
                        sha1sum: c148d1eb1c979bb6434175411d4a372103a4fdd2
                        md5sum: 0ed3435b4ead9aa5606ca0af66eedd90
                        filesize: 173519589
                        url: >-
                          http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/bundles/061-4312.20080226.Btu45/iPod1,1_1.1.4_4A102_Restore.ipsw
                        releasedate: null
                        uploaddate: '2008-02-22T23:28:42Z'
                        signed: false
                      - identifier: iPod1,1
                        version: 1.1.3
                        buildid: 4A93
                        sha1sum: 8dca23eec69d5ae58fbf3d4a23276e46cbb2e3c6
                        md5sum: 12d996c376d378c1333b0343ddad6cb0
                        filesize: 173511411
                        url: >-
                          http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/061-4060.20080115.9Iuh5/iPod1,1_1.1.3_4A93_Restore.ipsw
                        releasedate: null
                        uploaddate: '2008-01-10T04:03:18Z'
                        signed: false
                      - identifier: iPod1,1
                        version: 1.1.2
                        buildid: 3B48b
                        sha1sum: 108d8ffe9ea75e61cd5e57170ad388b7fa00d923
                        md5sum: a7469c40e204a607becabaca841b718f
                        filesize: 165567897
                        url: >-
                          http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/bundles/061-4036.20071107.9g3DF/iPod1,1_1.1.2_3B48b_Restore.ipsw
                        releasedate: null
                        uploaddate: '2007-11-07T20:25:19Z'
                        signed: false
                    boards:
                      - boardconfig: n45ap
                        platform: s5l8900x
                        cpid: 35072
                        bdid: 2
                    boardconfig: n45ap
                    platform: s5l8900x
                    cpid: 35072
                    bdid: 2
                example5:
                  value:
                    name: Apple TV 2G
                    identifier: AppleTV2,1
                    firmwares:
                      - identifier: AppleTV2,1
                        version: 7.1.2
                        buildid: 11D258
                        sha1sum: 4724347f2700dfe82fb864ecc8cdf66ea33262b1
                        md5sum: 6677e7611ebed25d8dc33d2401b75de2
                        filesize: 698547170
                        url: >-
                          http://appldnld.apple.com/iOS8/031-07202.20140917.tF6Fs/AppleTV2,1_6.2.1_11D258_Restore.ipsw
                        releasedate: '2014-09-17T17:59:02Z'
                        uploaddate: '2014-09-03T17:55:56Z'
                        signed: true
                      - identifier: AppleTV2,1
                        version: 7.1.2
                        buildid: 11D257c
                        sha1sum: a772321de7a4e4b5fa710ec3660d4a640c04ead8
                        md5sum: 2b5ad301db18658c06ba12841c250f4d
                        filesize: 698406382
                        url: >-
                          http://appldnld.apple.com/iOS7.1/031-04317.20140630.2qAFy/AppleTV2,1_6.2_11D257c_Restore.ipsw
                        releasedate: '2014-06-30T18:28:53Z'
                        uploaddate: '2014-06-27T22:43:09Z'
                        signed: false
                      - identifier: AppleTV2,1
                        version: 7.1.1
                        buildid: 11D201c
                        sha1sum: 500dcc8878d0ef51b57f7c8260076d3970235d5a
                        md5sum: 1b8d3e39e1523aeee697c0be90236e9f
                        filesize: 698303443
                        url: >-
                          http://appldnld.apple.com/iOS7.1/031-01311.20140422.EaugX/AppleTV2,1_6.1.1_11D201c_Restore.ipsw
                        releasedate: '2014-04-22T17:46:02Z'
                        uploaddate: '2014-04-16T23:38:39Z'
                        signed: false
                      - identifier: AppleTV2,1
                        version: '7.1'
                        buildid: 11D169b
                        sha1sum: db425818155c27df710547329c6bcdd3a7f78c1e
                        md5sum: 8107d3d44f22c234ccf15c976c8f0331
                        filesize: 698244610
                        url: >-
                          http://appldnld.apple.com/iOS7.1/031-4478.20140310.XDdib/AppleTV2,1_6.1_11D169b_Restore.ipsw
                        releasedate: '2014-03-10T17:57:25Z'
                        uploaddate: '2014-03-06T20:49:52Z'
                        signed: false
                    boards:
                      - boardconfig: k66ap
                        platform: s5l8930x
                        cpid: 35120
                        bdid: 16
                    boardconfig: k66ap
                    platform: s5l8930x
                    cpid: 35120
                    bdid: 16
                example6:
                  value:
                    name: iPhone 5 (GSM)
                    identifier: iPhone5,1
                    firmwares:
                      - identifier: iPhone5,1
                        buildid: 14G61
                        version: 10.3.4
                        url: >-
                          http://updates-http.cdn-apple.com/2019/ios/091-24443-20190722-9357424A-9931-11E9-BCE8-56D0A77C2E40/com_apple_MobileAsset_SoftwareUpdate/fb90f2903f57aceabaf43bdc5aa99364faa8593e.zip
                        filesize: 66410207
                        prerequisitebuildid: 14F89
                        prerequisiteversion: 10.3.2
                        releasetype: ''
                        uploaddate: '2019-06-27T23:34:39Z'
                        releasedate: '2019-07-22T17:07:55Z'
                        marketingversion: ''
                        signed: true
                      - identifier: iPhone5,1
                        buildid: 14G61
                        version: 10.3.4
                        url: >-
                          http://updates-http.cdn-apple.com/2019/ios/091-24423-20190722-9357424A-9931-11E9-BCE8-53D0A77C2E40/com_apple_MobileAsset_SoftwareUpdate/1bc7b173cae90361d7820409ecc2fa5d5427144a.zip
                        filesize: 48460066
                        prerequisitebuildid: 14G57
                        prerequisiteversion: 10.3.3
                        releasetype: ''
                        uploaddate: '2019-06-27T23:34:34Z'
                        releasedate: '2019-07-22T17:07:56Z'
                        marketingversion: ''
                        signed: true
                      - identifier: iPhone5,1
                        buildid: 14G61
                        version: 10.3.4
                        url: >-
                          http://updates-http.cdn-apple.com/2019/ios/091-24531-20190722-93574B96-9931-11E9-B99A-5FD0A77C2E40/com_apple_MobileAsset_SoftwareUpdate/510f3fd40401a3fb35b1a22fa160f9a29730ec0c.zip
                        filesize: 36390797
                        prerequisitebuildid: 14G60
                        prerequisiteversion: 10.3.3
                        releasetype: ''
                        uploaddate: '2019-06-27T23:34:27Z'
                        releasedate: '2019-07-22T17:07:56Z'
                        marketingversion: ''
                        signed: true
                      - identifier: iPhone5,1
                        buildid: 14G61
                        version: 10.3.4
                        url: >-
                          http://updates-http.cdn-apple.com/2019/ios/091-24126-20190722-93574042-9931-11E9-BCE8-43D0A77C2E40/com_apple_MobileAsset_SoftwareUpdate/716406ffa26c805728d3078b56129ac07fc6516c.zip
                        filesize: 143957900
                        prerequisitebuildid: '14E304'
                        prerequisiteversion: 10.3.1
                        releasetype: ''
                        uploaddate: '2019-06-27T23:34:27Z'
                        releasedate: '2019-07-22T17:07:55Z'
                        marketingversion: ''
                        signed: true
                    boards:
                      - boardconfig: N41AP
                        platform: s5l8950x
                        cpid: 35152
                        bdid: 0
                    boardconfig: N41AP
                    platform: s5l8950x
                    cpid: 35152
                    bdid: 0
            application/x-plist:
              examples:
                example1:
                  value: >
                    <?xml version="1.0" encoding="UTF-8"?>

                    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
                    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

                    <plist version="1.0">
                      <dict>
                        <key>BDID</key>
                        <integer>4</integer>
                        <key>BoardConfig</key>
                        <string>N71AP</string>
                        <key>Boards</key>
                        <array>
                          <dict>
                            <key>BDID</key>
                            <integer>4</integer>
                            <key>BoardConfig</key>
                            <string>N71AP</string>
                            <key>CPID</key>
                            <integer>32768</integer>
                            <key>Platform</key>
                            <string>s8000</string>
                          </dict>
                          <dict>
                            <key>BDID</key>
                            <integer>4</integer>
                            <key>BoardConfig</key>
                            <string>N71mAP</string>
                            <key>CPID</key>
                            <integer>32771</integer>
                            <key>Platform</key>
                            <string>s8003</string>
                          </dict>
                        </array>
                        <key>CPID</key>
                        <integer>32768</integer>
                        <key>Firmwares</key>
                        <array>
                          <dict>
                            <key>BuildID</key>
                            <string>17A878</string>
                            <key>Filesize</key>
                            <integer>3652675161</integer>
                            <key>Identifier</key>
                            <string>iPhone8,1</string>
                            <key>MD5sum</key>
                            <string>e7f95f23dd0d8f406b2ef95d4b63bc5c</string>
                            <key>ReleaseDate</key>
                            <string>2019-10-15T17:00:31Z</string>
                            <key>SHA1sum</key>
                            <string>96be7a8e55ec4bd1867bd1d7f18b1f24f8731838</string>
                            <key>Signed</key>
                            <true/>
                            <key>URL</key>
                            <string>http://updates-http.cdn-apple.com/2019FallFCS/fullrestores/061-30582/2A093596-EB7A-11E9-9505-C810329334FA/iPhone_4.7_13.1.3_17A878_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2019-10-10T17:31:00Z</date>
                            <key>Version</key>
                            <string>13.1.3</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>17A860</string>
                            <key>Filesize</key>
                            <integer>3654014311</integer>
                            <key>Identifier</key>
                            <string>iPhone8,1</string>
                            <key>MD5sum</key>
                            <string>5c247ad50b0bd470ea976c742bc42240</string>
                            <key>ReleaseDate</key>
                            <string>2019-09-30T17:11:19Z</string>
                            <key>SHA1sum</key>
                            <string>a90465c172cd77bcb5bf112993c8ee7caba632d1</string>
                            <key>Signed</key>
                            <true/>
                            <key>URL</key>
                            <string>http://updates-http.cdn-apple.com/2019FallFCS/fullrestores/061-22597/37272F4C-E18B-11E9-9F72-B96496A9EC6E/iPhone_4.7_13.1.2_17A860_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2019-09-28T01:09:45Z</date>
                            <key>Version</key>
                            <string>13.1.2</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>17A854</string>
                            <key>Filesize</key>
                            <integer>3651115452</integer>
                            <key>Identifier</key>
                            <string>iPhone8,1</string>
                            <key>MD5sum</key>
                            <string>a902e7dae4d9f15fe9d1a1a317a04740</string>
                            <key>ReleaseDate</key>
                            <string>2019-09-27T16:58:00Z</string>
                            <key>SHA1sum</key>
                            <string>6fd3eaa23d13d26f8174c353d92b55c0ecc1698b</string>
                            <key>Signed</key>
                            <false/>
                            <key>URL</key>
                            <string>http://updates-http.cdn-apple.com/2019FallFCS/fullrestores/061-18421/E8F8D60E-DED8-11E9-A685-B200DC34986D/iPhone_4.7_13.1.1_17A854_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2019-09-24T14:51:54Z</date>
                            <key>Version</key>
                            <string>13.1.1</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>17A844</string>
                            <key>Filesize</key>
                            <integer>3652404986</integer>
                            <key>Identifier</key>
                            <string>iPhone8,1</string>
                            <key>MD5sum</key>
                            <string>a8cc4f157d799b1776028c7ce305ddf2</string>
                            <key>ReleaseDate</key>
                            <string>2019-09-24T17:03:38Z</string>
                            <key>SHA1sum</key>
                            <string>3421b3825922e4f3d32e890a75b8ad3ba69a69f2</string>
                            <key>Signed</key>
                            <false/>
                            <key>URL</key>
                            <string>http://updates-http.cdn-apple.com/2019FallFCS/fullrestores/091-99496/DCDE77CC-D986-11E9-AC76-A120DCDBD6A3/iPhone_4.7_13.1_17A844_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2019-09-17T20:21:50Z</date>
                            <key>Version</key>
                            <string>13.1</string>
                          </dict>
                        </array>
                        <key>Identifier</key>
                        <string>iPhone8,1</string>
                        <key>Name</key>
                        <string>iPhone 6s</string>
                        <key>Platform</key>
                        <string>s8000</string>
                      </dict>
                    </plist>
                example2:
                  value: >
                    <?xml version="1.0" encoding="UTF-8"?>

                    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
                    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

                    <plist version="1.0">
                      <dict>
                        <key>BDID</key>
                        <integer>4</integer>
                        <key>BoardConfig</key>
                        <string>N56AP</string>
                        <key>Boards</key>
                        <array>
                          <dict>
                            <key>BDID</key>
                            <integer>4</integer>
                            <key>BoardConfig</key>
                            <string>N56AP</string>
                            <key>CPID</key>
                            <integer>28672</integer>
                            <key>Platform</key>
                            <string>t7000</string>
                          </dict>
                        </array>
                        <key>CPID</key>
                        <integer>28672</integer>
                        <key>Firmwares</key>
                        <array>
                          <dict>
                            <key>BuildID</key>
                            <string>16G114</string>
                            <key>Filesize</key>
                            <integer>3328746693</integer>
                            <key>Identifier</key>
                            <string>iPhone7,1</string>
                            <key>MD5sum</key>
                            <string>10d9aeb0d87a04a40417be05c0b19a44</string>
                            <key>ReleaseDate</key>
                            <string>2019-09-26T17:04:56Z</string>
                            <key>SHA1sum</key>
                            <string>58a91fa4d73077133772e464f761c96ad91df683</string>
                            <key>Signed</key>
                            <true/>
                            <key>URL</key>
                            <string>http://updates-http.cdn-apple.com/2019SummerFCS/fullrestores/061-20538/FD3DCDB6-DC8C-11E9-ABB0-278C66A83945/iPhone_5.5_12.4.2_16G114_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2019-09-21T16:42:04Z</date>
                            <key>Version</key>
                            <string>12.4.2</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>16G102</string>
                            <key>Filesize</key>
                            <integer>3345837529</integer>
                            <key>Identifier</key>
                            <string>iPhone7,1</string>
                            <key>MD5sum</key>
                            <string>8a374df4132aedddd0207c8978080b35</string>
                            <key>ReleaseDate</key>
                            <string>2019-08-26T18:30:09Z</string>
                            <key>SHA1sum</key>
                            <string>671863b1a34cb4d8abc44919679c645f0500486d</string>
                            <key>Signed</key>
                            <false/>
                            <key>URL</key>
                            <string>http://updates-http.cdn-apple.com/2019SummerFCS/fullrestores/061-05190/A449778A-C4E7-11E9-BE68-18610AD8B7A1/iPhone_5.5_12.4.1_16G102_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2019-08-22T14:27:57Z</date>
                            <key>Version</key>
                            <string>12.4.1</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>16G77</string>
                            <key>Filesize</key>
                            <integer>3345389368</integer>
                            <key>Identifier</key>
                            <string>iPhone7,1</string>
                            <key>MD5sum</key>
                            <string>75279e6f2f850ba825addfe590afb8ba</string>
                            <key>ReleaseDate</key>
                            <string>2019-07-22T17:08:32Z</string>
                            <key>SHA1sum</key>
                            <string>e435aa95763167106707e5d6534a4dcb66408f18</string>
                            <key>Signed</key>
                            <false/>
                            <key>URL</key>
                            <string>http://updates-http.cdn-apple.com/2019SummerFCS/fullrestores/041-86579/9E26E61A-A743-11E9-87D6-F185B65480B0/iPhone_5.5_12.4_16G77_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2019-07-15T21:08:52Z</date>
                            <key>Version</key>
                            <string>12.4</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>16F203</string>
                            <key>Filesize</key>
                            <integer>3339505439</integer>
                            <key>Identifier</key>
                            <string>iPhone7,1</string>
                            <key>MD5sum</key>
                            <string>84a83ab5e05e2560fd6b08d6c014cd82</string>
                            <key>ReleaseDate</key>
                            <string>2019-05-24T17:02:33Z</string>
                            <key>SHA1sum</key>
                            <string>a168b1bc901fb64cf725ab0dcca183dd684770dc</string>
                            <key>Signed</key>
                            <false/>
                            <key>URL</key>
                            <string>http://updates-http.cdn-apple.com/2019SpringFCS/fullrestores/041-68573/CC468F46-7C96-11E9-80BA-4EF06256CCDB/iPhone_5.5_12.3.1_16F203_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2019-05-22T13:57:50Z</date>
                            <key>Version</key>
                            <string>12.3.1</string>
                          </dict>
                        </array>
                        <key>Identifier</key>
                        <string>iPhone7,1</string>
                        <key>Name</key>
                        <string>iPhone 6+</string>
                        <key>Platform</key>
                        <string>t7000</string>
                      </dict>
                    </plist>
                example3:
                  value: >
                    <?xml version="1.0" encoding="UTF-8"?>

                    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
                    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

                    <plist version="1.0">
                      <dict>
                        <key>BDID</key>
                        <integer>4</integer>
                        <key>BoardConfig</key>
                        <string>n82ap</string>
                        <key>Boards</key>
                        <array>
                          <dict>
                            <key>BDID</key>
                            <integer>4</integer>
                            <key>BoardConfig</key>
                            <string>n82ap</string>
                            <key>CPID</key>
                            <integer>35072</integer>
                            <key>Platform</key>
                            <string>s5l8900x</string>
                          </dict>
                        </array>
                        <key>CPID</key>
                        <integer>35072</integer>
                        <key>Firmwares</key>
                        <array>
                          <dict>
                            <key>BuildID</key>
                            <string>8C148</string>
                            <key>Filesize</key>
                            <integer>338579762</integer>
                            <key>Identifier</key>
                            <string>iPhone1,2</string>
                            <key>MD5sum</key>
                            <string>8b1657935408a1638b69740b282f62b3</string>
                            <key>ReleaseDate</key>
                            <string>null</string>
                            <key>SHA1sum</key>
                            <string>d2ed58586e8ca2153f2e2ec585bba8afc5173378</string>
                            <key>Signed</key>
                            <true/>
                            <key>URL</key>
                            <string>http://appldnld.apple.com/iPhone4/061-9853.20101122.Vfgt5/iPhone1,2_4.2.1_8C148_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2010-11-18T17:30:48Z</date>
                            <key>Version</key>
                            <string>4.2.1</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>8B117</string>
                            <key>Filesize</key>
                            <integer>323137556</integer>
                            <key>Identifier</key>
                            <string>iPhone1,2</string>
                            <key>MD5sum</key>
                            <string>8cc589baad3c80dd8324c37d7dc00750</string>
                            <key>ReleaseDate</key>
                            <string>null</string>
                            <key>SHA1sum</key>
                            <string>d87bab469dd1146ab83ddcc23f03b3164d7e09d4</string>
                            <key>Signed</key>
                            <true/>
                            <key>URL</key>
                            <string>http://appldnld.apple.com/iPhone4/061-7932.20100908.3fgt5/iPhone1,2_4.1_8B117_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2010-09-03T14:12:24Z</date>
                            <key>Version</key>
                            <string>4.1</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>8A400</string>
                            <key>Filesize</key>
                            <integer>320216794</integer>
                            <key>Identifier</key>
                            <string>iPhone1,2</string>
                            <key>MD5sum</key>
                            <string>6f3aefe1f8f516ae6e91fe993749347a</string>
                            <key>ReleaseDate</key>
                            <string>null</string>
                            <key>SHA1sum</key>
                            <string>ee2bc74719170a7a2440b593b6f300727c930c69</string>
                            <key>Signed</key>
                            <true/>
                            <key>URL</key>
                            <string>http://appldnld.apple.com/iPhone4/061-8802.20100811.XcfpR/iPhone1,2_4.0.2_8A400_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2010-08-09T19:52:20Z</date>
                            <key>Version</key>
                            <string>4.0.2</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>8A306</string>
                            <key>Filesize</key>
                            <integer>320237975</integer>
                            <key>Identifier</key>
                            <string>iPhone1,2</string>
                            <key>MD5sum</key>
                            <string>8a952dbd03fa5e85da1a31092c651a25</string>
                            <key>ReleaseDate</key>
                            <string>null</string>
                            <key>SHA1sum</key>
                            <string>940bd2b36c646f6673419eab661ac1f13248e592</string>
                            <key>Signed</key>
                            <true/>
                            <key>URL</key>
                            <string>http://appldnld.apple.com/iPhone4/061-8616.20100715.phnt4/iPhone1,2_4.0.1_8A306_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2010-07-13T20:13:59Z</date>
                            <key>Version</key>
                            <string>4.0.1</string>
                          </dict>
                        </array>
                        <key>Identifier</key>
                        <string>iPhone1,2</string>
                        <key>Name</key>
                        <string>iPhone 3G</string>
                        <key>Platform</key>
                        <string>s5l8900x</string>
                      </dict>
                    </plist>
                example4:
                  value: >
                    <?xml version="1.0" encoding="UTF-8"?>

                    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
                    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

                    <plist version="1.0">
                      <dict>
                        <key>BDID</key>
                        <integer>2</integer>
                        <key>BoardConfig</key>
                        <string>n45ap</string>
                        <key>Boards</key>
                        <array>
                          <dict>
                            <key>BDID</key>
                            <integer>2</integer>
                            <key>BoardConfig</key>
                            <string>n45ap</string>
                            <key>CPID</key>
                            <integer>35072</integer>
                            <key>Platform</key>
                            <string>s5l8900x</string>
                          </dict>
                        </array>
                        <key>CPID</key>
                        <integer>35072</integer>
                        <key>Firmwares</key>
                        <array>
                          <dict>
                            <key>BuildID</key>
                            <string>4B1</string>
                            <key>Filesize</key>
                            <integer>173519637</integer>
                            <key>Identifier</key>
                            <string>iPod1,1</string>
                            <key>MD5sum</key>
                            <string>80b46fe8db7cfe58bb67e8553f495a8d</string>
                            <key>ReleaseDate</key>
                            <string>null</string>
                            <key>SHA1sum</key>
                            <string>1b818911316e4248ee01d3ec67f9d39afc3db240</string>
                            <key>Signed</key>
                            <false/>
                            <key>URL</key>
                            <string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/bundles/061-4841.20080714.bgy8O/iPod1,1_1.1.5_4B1_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2008-07-14T21:39:28Z</date>
                            <key>Version</key>
                            <string>1.1.5</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>4A102</string>
                            <key>Filesize</key>
                            <integer>173519589</integer>
                            <key>Identifier</key>
                            <string>iPod1,1</string>
                            <key>MD5sum</key>
                            <string>0ed3435b4ead9aa5606ca0af66eedd90</string>
                            <key>ReleaseDate</key>
                            <string>null</string>
                            <key>SHA1sum</key>
                            <string>c148d1eb1c979bb6434175411d4a372103a4fdd2</string>
                            <key>Signed</key>
                            <false/>
                            <key>URL</key>
                            <string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/bundles/061-4312.20080226.Btu45/iPod1,1_1.1.4_4A102_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2008-02-22T23:28:42Z</date>
                            <key>Version</key>
                            <string>1.1.4</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>4A93</string>
                            <key>Filesize</key>
                            <integer>173511411</integer>
                            <key>Identifier</key>
                            <string>iPod1,1</string>
                            <key>MD5sum</key>
                            <string>12d996c376d378c1333b0343ddad6cb0</string>
                            <key>ReleaseDate</key>
                            <string>null</string>
                            <key>SHA1sum</key>
                            <string>8dca23eec69d5ae58fbf3d4a23276e46cbb2e3c6</string>
                            <key>Signed</key>
                            <false/>
                            <key>URL</key>
                            <string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/061-4060.20080115.9Iuh5/iPod1,1_1.1.3_4A93_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2008-01-10T04:03:18Z</date>
                            <key>Version</key>
                            <string>1.1.3</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>3B48b</string>
                            <key>Filesize</key>
                            <integer>165567897</integer>
                            <key>Identifier</key>
                            <string>iPod1,1</string>
                            <key>MD5sum</key>
                            <string>a7469c40e204a607becabaca841b718f</string>
                            <key>ReleaseDate</key>
                            <string>null</string>
                            <key>SHA1sum</key>
                            <string>108d8ffe9ea75e61cd5e57170ad388b7fa00d923</string>
                            <key>Signed</key>
                            <false/>
                            <key>URL</key>
                            <string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/bundles/061-4036.20071107.9g3DF/iPod1,1_1.1.2_3B48b_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2007-11-07T20:25:19Z</date>
                            <key>Version</key>
                            <string>1.1.2</string>
                          </dict>
                        </array>
                        <key>Identifier</key>
                        <string>iPod1,1</string>
                        <key>Name</key>
                        <string>iPod touch 1G</string>
                        <key>Platform</key>
                        <string>s5l8900x</string>
                      </dict>
                    </plist>
                example5:
                  value: >
                    <?xml version="1.0" encoding="UTF-8"?>

                    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
                    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

                    <plist version="1.0">
                      <dict>
                        <key>BDID</key>
                        <integer>16</integer>
                        <key>BoardConfig</key>
                        <string>k66ap</string>
                        <key>Boards</key>
                        <array>
                          <dict>
                            <key>BDID</key>
                            <integer>16</integer>
                            <key>BoardConfig</key>
                            <string>k66ap</string>
                            <key>CPID</key>
                            <integer>35120</integer>
                            <key>Platform</key>
                            <string>s5l8930x</string>
                          </dict>
                        </array>
                        <key>CPID</key>
                        <integer>35120</integer>
                        <key>Firmwares</key>
                        <array>
                          <dict>
                            <key>BuildID</key>
                            <string>11D258</string>
                            <key>Filesize</key>
                            <integer>698547170</integer>
                            <key>Identifier</key>
                            <string>AppleTV2,1</string>
                            <key>MD5sum</key>
                            <string>6677e7611ebed25d8dc33d2401b75de2</string>
                            <key>ReleaseDate</key>
                            <string>2014-09-17T17:59:02Z</string>
                            <key>SHA1sum</key>
                            <string>4724347f2700dfe82fb864ecc8cdf66ea33262b1</string>
                            <key>Signed</key>
                            <true/>
                            <key>URL</key>
                            <string>http://appldnld.apple.com/iOS8/031-07202.20140917.tF6Fs/AppleTV2,1_6.2.1_11D258_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2014-09-03T17:55:56Z</date>
                            <key>Version</key>
                            <string>7.1.2</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>11D257c</string>
                            <key>Filesize</key>
                            <integer>698406382</integer>
                            <key>Identifier</key>
                            <string>AppleTV2,1</string>
                            <key>MD5sum</key>
                            <string>2b5ad301db18658c06ba12841c250f4d</string>
                            <key>ReleaseDate</key>
                            <string>2014-06-30T18:28:53Z</string>
                            <key>SHA1sum</key>
                            <string>a772321de7a4e4b5fa710ec3660d4a640c04ead8</string>
                            <key>Signed</key>
                            <false/>
                            <key>URL</key>
                            <string>http://appldnld.apple.com/iOS7.1/031-04317.20140630.2qAFy/AppleTV2,1_6.2_11D257c_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2014-06-27T22:43:09Z</date>
                            <key>Version</key>
                            <string>7.1.2</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>11D201c</string>
                            <key>Filesize</key>
                            <integer>698303443</integer>
                            <key>Identifier</key>
                            <string>AppleTV2,1</string>
                            <key>MD5sum</key>
                            <string>1b8d3e39e1523aeee697c0be90236e9f</string>
                            <key>ReleaseDate</key>
                            <string>2014-04-22T17:46:02Z</string>
                            <key>SHA1sum</key>
                            <string>500dcc8878d0ef51b57f7c8260076d3970235d5a</string>
                            <key>Signed</key>
                            <false/>
                            <key>URL</key>
                            <string>http://appldnld.apple.com/iOS7.1/031-01311.20140422.EaugX/AppleTV2,1_6.1.1_11D201c_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2014-04-16T23:38:39Z</date>
                            <key>Version</key>
                            <string>7.1.1</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>11D169b</string>
                            <key>Filesize</key>
                            <integer>698244610</integer>
                            <key>Identifier</key>
                            <string>AppleTV2,1</string>
                            <key>MD5sum</key>
                            <string>8107d3d44f22c234ccf15c976c8f0331</string>
                            <key>ReleaseDate</key>
                            <string>2014-03-10T17:57:25Z</string>
                            <key>SHA1sum</key>
                            <string>db425818155c27df710547329c6bcdd3a7f78c1e</string>
                            <key>Signed</key>
                            <false/>
                            <key>URL</key>
                            <string>http://appldnld.apple.com/iOS7.1/031-4478.20140310.XDdib/AppleTV2,1_6.1_11D169b_Restore.ipsw</string>
                            <key>UploadDate</key>
                            <date>2014-03-06T20:49:52Z</date>
                            <key>Version</key>
                            <string>7.1</string>
                          </dict>
                        </array>
                        <key>Identifier</key>
                        <string>AppleTV2,1</string>
                        <key>Name</key>
                        <string>Apple TV 2G</string>
                        <key>Platform</key>
                        <string>s5l8930x</string>
                      </dict>
                    </plist>
                example6:
                  value: >
                    <?xml version="1.0" encoding="UTF-8"?>

                    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
                    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

                    <plist version="1.0">
                      <dict>
                        <key>BDID</key>
                        <integer>0</integer>
                        <key>BoardConfig</key>
                        <string>N41AP</string>
                        <key>Boards</key>
                        <array>
                          <dict>
                            <key>BDID</key>
                            <integer>0</integer>
                            <key>BoardConfig</key>
                            <string>N41AP</string>
                            <key>CPID</key>
                            <integer>35152</integer>
                            <key>Platform</key>
                            <string>s5l8950x</string>
                          </dict>
                        </array>
                        <key>CPID</key>
                        <integer>35152</integer>
                        <key>Firmwares</key>
                        <array>
                          <dict>
                            <key>BuildID</key>
                            <string>14G61</string>
                            <key>Filesize</key>
                            <integer>66410207</integer>
                            <key>Identifier</key>
                            <string>iPhone5,1</string>
                            <key>MarketingVersion</key>
                            <string/>
                            <key>PrerequisiteBuild</key>
                            <string>14F89</string>
                            <key>PrerequisiteVersion</key>
                            <string>10.3.2</string>
                            <key>ReleaseDate</key>
                            <string>2019-07-22T17:07:55Z</string>
                            <key>Releasetype</key>
                            <string/>
                            <key>Signed</key>
                            <true/>
                            <key>URL</key>
                            <string>http://updates-http.cdn-apple.com/2019/ios/091-24443-20190722-9357424A-9931-11E9-BCE8-56D0A77C2E40/com_apple_MobileAsset_SoftwareUpdate/fb90f2903f57aceabaf43bdc5aa99364faa8593e.zip</string>
                            <key>UploadDate</key>
                            <string>2019-06-27T23:34:39Z</string>
                            <key>Version</key>
                            <string>10.3.4</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>14G61</string>
                            <key>Filesize</key>
                            <integer>48460066</integer>
                            <key>Identifier</key>
                            <string>iPhone5,1</string>
                            <key>MarketingVersion</key>
                            <string/>
                            <key>PrerequisiteBuild</key>
                            <string>14G57</string>
                            <key>PrerequisiteVersion</key>
                            <string>10.3.3</string>
                            <key>ReleaseDate</key>
                            <string>2019-07-22T17:07:56Z</string>
                            <key>Releasetype</key>
                            <string/>
                            <key>Signed</key>
                            <true/>
                            <key>URL</key>
                            <string>http://updates-http.cdn-apple.com/2019/ios/091-24423-20190722-9357424A-9931-11E9-BCE8-53D0A77C2E40/com_apple_MobileAsset_SoftwareUpdate/1bc7b173cae90361d7820409ecc2fa5d5427144a.zip</string>
                            <key>UploadDate</key>
                            <string>2019-06-27T23:34:34Z</string>
                            <key>Version</key>
                            <string>10.3.4</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>14G61</string>
                            <key>Filesize</key>
                            <integer>36390797</integer>
                            <key>Identifier</key>
                            <string>iPhone5,1</string>
                            <key>MarketingVersion</key>
                            <string/>
                            <key>PrerequisiteBuild</key>
                            <string>14G60</string>
                            <key>PrerequisiteVersion</key>
                            <string>10.3.3</string>
                            <key>ReleaseDate</key>
                            <string>2019-07-22T17:07:56Z</string>
                            <key>Releasetype</key>
                            <string/>
                            <key>Signed</key>
                            <true/>
                            <key>URL</key>
                            <string>http://updates-http.cdn-apple.com/2019/ios/091-24531-20190722-93574B96-9931-11E9-B99A-5FD0A77C2E40/com_apple_MobileAsset_SoftwareUpdate/510f3fd40401a3fb35b1a22fa160f9a29730ec0c.zip</string>
                            <key>UploadDate</key>
                            <string>2019-06-27T23:34:27Z</string>
                            <key>Version</key>
                            <string>10.3.4</string>
                          </dict>
                          <dict>
                            <key>BuildID</key>
                            <string>14G61</string>
                            <key>Filesize</key>
                            <integer>143957900</integer>
                            <key>Identifier</key>
                            <string>iPhone5,1</string>
                            <key>MarketingVersion</key>
                            <string/>
                            <key>PrerequisiteBuild</key>
                            <string>14E304</string>
                            <key>PrerequisiteVersion</key>
                            <string>10.3.1</string>
                            <key>ReleaseDate</key>
                            <string>2019-07-22T17:07:55Z</string>
                            <key>Releasetype</key>
                            <string/>
                            <key>Signed</key>
                            <true/>
                            <key>URL</key>
                            <string>http://updates-http.cdn-apple.com/2019/ios/091-24126-20190722-93574042-9931-11E9-BCE8-43D0A77C2E40/com_apple_MobileAsset_SoftwareUpdate/716406ffa26c805728d3078b56129ac07fc6516c.zip</string>
                            <key>UploadDate</key>
                            <string>2019-06-27T23:34:27Z</string>
                            <key>Version</key>
                            <string>10.3.4</string>
                          </dict>
                        </array>
                        <key>Identifier</key>
                        <string>iPhone5,1</string>
                        <key>Name</key>
                        <string>iPhone 5 (GSM)</string>
                        <key>Platform</key>
                        <string>s5l8950x</string>
                      </dict>
                    </plist>
            application/xml:
              examples:
                example1:
                  value: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <Response>
                      <Data>
                        <Name>iPhone 6s</Name>
                        <Identifier>iPhone8,1</Identifier>
                        <Firmwares>
                          <Identifier>iPhone8,1</Identifier>
                          <Version>13.1.3</Version>
                          <BuildID>17A878</BuildID>
                          <SHA1sum>96be7a8e55ec4bd1867bd1d7f18b1f24f8731838</SHA1sum>
                          <MD5sum>e7f95f23dd0d8f406b2ef95d4b63bc5c</MD5sum>
                          <Filesize>3652675161</Filesize>
                          <URL>http://updates-http.cdn-apple.com/2019FallFCS/fullrestores/061-30582/2A093596-EB7A-11E9-9505-C810329334FA/iPhone_4.7_13.1.3_17A878_Restore.ipsw</URL>
                          <ReleaseDate>2019-10-15T17:00:31Z</ReleaseDate>
                          <UploadDate>2019-10-10T17:31:00Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>true</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>iPhone8,1</Identifier>
                          <Version>13.1.2</Version>
                          <BuildID>17A860</BuildID>
                          <SHA1sum>a90465c172cd77bcb5bf112993c8ee7caba632d1</SHA1sum>
                          <MD5sum>5c247ad50b0bd470ea976c742bc42240</MD5sum>
                          <Filesize>3654014311</Filesize>
                          <URL>http://updates-http.cdn-apple.com/2019FallFCS/fullrestores/061-22597/37272F4C-E18B-11E9-9F72-B96496A9EC6E/iPhone_4.7_13.1.2_17A860_Restore.ipsw</URL>
                          <ReleaseDate>2019-09-30T17:11:19Z</ReleaseDate>
                          <UploadDate>2019-09-28T01:09:45Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>true</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>iPhone8,1</Identifier>
                          <Version>13.1.1</Version>
                          <BuildID>17A854</BuildID>
                          <SHA1sum>6fd3eaa23d13d26f8174c353d92b55c0ecc1698b</SHA1sum>
                          <MD5sum>a902e7dae4d9f15fe9d1a1a317a04740</MD5sum>
                          <Filesize>3651115452</Filesize>
                          <URL>http://updates-http.cdn-apple.com/2019FallFCS/fullrestores/061-18421/E8F8D60E-DED8-11E9-A685-B200DC34986D/iPhone_4.7_13.1.1_17A854_Restore.ipsw</URL>
                          <ReleaseDate>2019-09-27T16:58:00Z</ReleaseDate>
                          <UploadDate>2019-09-24T14:51:54Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>false</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>iPhone8,1</Identifier>
                          <Version>13.1</Version>
                          <BuildID>17A844</BuildID>
                          <SHA1sum>3421b3825922e4f3d32e890a75b8ad3ba69a69f2</SHA1sum>
                          <MD5sum>a8cc4f157d799b1776028c7ce305ddf2</MD5sum>
                          <Filesize>3652404986</Filesize>
                          <URL>http://updates-http.cdn-apple.com/2019FallFCS/fullrestores/091-99496/DCDE77CC-D986-11E9-AC76-A120DCDBD6A3/iPhone_4.7_13.1_17A844_Restore.ipsw</URL>
                          <ReleaseDate>2019-09-24T17:03:38Z</ReleaseDate>
                          <UploadDate>2019-09-17T20:21:50Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>false</Signed>
                        </Firmwares>
                        <Boards>
                          <BoardConfig>N71AP</BoardConfig>
                          <Platform>s8000</Platform>
                          <CPID>32768</CPID>
                          <BDID>4</BDID>
                        </Boards>
                        <Boards>
                          <BoardConfig>N71mAP</BoardConfig>
                          <Platform>s8003</Platform>
                          <CPID>32771</CPID>
                          <BDID>4</BDID>
                        </Boards>
                        <BoardConfig>N71AP</BoardConfig>
                        <Platform>s8000</Platform>
                        <CPID>32768</CPID>
                        <BDID>4</BDID>
                      </Data>
                    </Response>
                example2:
                  value: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <Response>
                      <Data>
                        <Name>iPhone 6+</Name>
                        <Identifier>iPhone7,1</Identifier>
                        <Firmwares>
                          <Identifier>iPhone7,1</Identifier>
                          <Version>12.4.2</Version>
                          <BuildID>16G114</BuildID>
                          <SHA1sum>58a91fa4d73077133772e464f761c96ad91df683</SHA1sum>
                          <MD5sum>10d9aeb0d87a04a40417be05c0b19a44</MD5sum>
                          <Filesize>3328746693</Filesize>
                          <URL>http://updates-http.cdn-apple.com/2019SummerFCS/fullrestores/061-20538/FD3DCDB6-DC8C-11E9-ABB0-278C66A83945/iPhone_5.5_12.4.2_16G114_Restore.ipsw</URL>
                          <ReleaseDate>2019-09-26T17:04:56Z</ReleaseDate>
                          <UploadDate>2019-09-21T16:42:04Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>true</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>iPhone7,1</Identifier>
                          <Version>12.4.1</Version>
                          <BuildID>16G102</BuildID>
                          <SHA1sum>671863b1a34cb4d8abc44919679c645f0500486d</SHA1sum>
                          <MD5sum>8a374df4132aedddd0207c8978080b35</MD5sum>
                          <Filesize>3345837529</Filesize>
                          <URL>http://updates-http.cdn-apple.com/2019SummerFCS/fullrestores/061-05190/A449778A-C4E7-11E9-BE68-18610AD8B7A1/iPhone_5.5_12.4.1_16G102_Restore.ipsw</URL>
                          <ReleaseDate>2019-08-26T18:30:09Z</ReleaseDate>
                          <UploadDate>2019-08-22T14:27:57Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>false</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>iPhone7,1</Identifier>
                          <Version>12.4</Version>
                          <BuildID>16G77</BuildID>
                          <SHA1sum>e435aa95763167106707e5d6534a4dcb66408f18</SHA1sum>
                          <MD5sum>75279e6f2f850ba825addfe590afb8ba</MD5sum>
                          <Filesize>3345389368</Filesize>
                          <URL>http://updates-http.cdn-apple.com/2019SummerFCS/fullrestores/041-86579/9E26E61A-A743-11E9-87D6-F185B65480B0/iPhone_5.5_12.4_16G77_Restore.ipsw</URL>
                          <ReleaseDate>2019-07-22T17:08:32Z</ReleaseDate>
                          <UploadDate>2019-07-15T21:08:52Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>false</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>iPhone7,1</Identifier>
                          <Version>12.3.1</Version>
                          <BuildID>16F203</BuildID>
                          <SHA1sum>a168b1bc901fb64cf725ab0dcca183dd684770dc</SHA1sum>
                          <MD5sum>84a83ab5e05e2560fd6b08d6c014cd82</MD5sum>
                          <Filesize>3339505439</Filesize>
                          <URL>http://updates-http.cdn-apple.com/2019SpringFCS/fullrestores/041-68573/CC468F46-7C96-11E9-80BA-4EF06256CCDB/iPhone_5.5_12.3.1_16F203_Restore.ipsw</URL>
                          <ReleaseDate>2019-05-24T17:02:33Z</ReleaseDate>
                          <UploadDate>2019-05-22T13:57:50Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>false</Signed>
                        </Firmwares>
                        <Boards>
                          <BoardConfig>N56AP</BoardConfig>
                          <Platform>t7000</Platform>
                          <CPID>28672</CPID>
                          <BDID>4</BDID>
                        </Boards>
                        <BoardConfig>N56AP</BoardConfig>
                        <Platform>t7000</Platform>
                        <CPID>28672</CPID>
                        <BDID>4</BDID>
                      </Data>
                    </Response>
                example3:
                  value: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <Response>
                      <Data>
                        <Name>iPhone 3G</Name>
                        <Identifier>iPhone1,2</Identifier>
                        <Firmwares>
                          <Identifier>iPhone1,2</Identifier>
                          <Version>4.2.1</Version>
                          <BuildID>8C148</BuildID>
                          <SHA1sum>d2ed58586e8ca2153f2e2ec585bba8afc5173378</SHA1sum>
                          <MD5sum>8b1657935408a1638b69740b282f62b3</MD5sum>
                          <Filesize>338579762</Filesize>
                          <URL>http://appldnld.apple.com/iPhone4/061-9853.20101122.Vfgt5/iPhone1,2_4.2.1_8C148_Restore.ipsw</URL>
                          <ReleaseDate>null</ReleaseDate>
                          <UploadDate>2010-11-18T17:30:48Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>true</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>iPhone1,2</Identifier>
                          <Version>4.1</Version>
                          <BuildID>8B117</BuildID>
                          <SHA1sum>d87bab469dd1146ab83ddcc23f03b3164d7e09d4</SHA1sum>
                          <MD5sum>8cc589baad3c80dd8324c37d7dc00750</MD5sum>
                          <Filesize>323137556</Filesize>
                          <URL>http://appldnld.apple.com/iPhone4/061-7932.20100908.3fgt5/iPhone1,2_4.1_8B117_Restore.ipsw</URL>
                          <ReleaseDate>null</ReleaseDate>
                          <UploadDate>2010-09-03T14:12:24Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>true</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>iPhone1,2</Identifier>
                          <Version>4.0.2</Version>
                          <BuildID>8A400</BuildID>
                          <SHA1sum>ee2bc74719170a7a2440b593b6f300727c930c69</SHA1sum>
                          <MD5sum>6f3aefe1f8f516ae6e91fe993749347a</MD5sum>
                          <Filesize>320216794</Filesize>
                          <URL>http://appldnld.apple.com/iPhone4/061-8802.20100811.XcfpR/iPhone1,2_4.0.2_8A400_Restore.ipsw</URL>
                          <ReleaseDate>null</ReleaseDate>
                          <UploadDate>2010-08-09T19:52:20Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>true</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>iPhone1,2</Identifier>
                          <Version>4.0.1</Version>
                          <BuildID>8A306</BuildID>
                          <SHA1sum>940bd2b36c646f6673419eab661ac1f13248e592</SHA1sum>
                          <MD5sum>8a952dbd03fa5e85da1a31092c651a25</MD5sum>
                          <Filesize>320237975</Filesize>
                          <URL>http://appldnld.apple.com/iPhone4/061-8616.20100715.phnt4/iPhone1,2_4.0.1_8A306_Restore.ipsw</URL>
                          <ReleaseDate>null</ReleaseDate>
                          <UploadDate>2010-07-13T20:13:59Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>true</Signed>
                        </Firmwares>
                        <Boards>
                          <BoardConfig>n82ap</BoardConfig>
                          <Platform>s5l8900x</Platform>
                          <CPID>35072</CPID>
                          <BDID>4</BDID>
                        </Boards>
                        <BoardConfig>n82ap</BoardConfig>
                        <Platform>s5l8900x</Platform>
                        <CPID>35072</CPID>
                        <BDID>4</BDID>
                      </Data>
                    </Response>
                example4:
                  value: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <Response>
                      <Data>
                        <Name>iPod touch 1G</Name>
                        <Identifier>iPod1,1</Identifier>
                        <Firmwares>
                          <Identifier>iPod1,1</Identifier>
                          <Version>1.1.5</Version>
                          <BuildID>4B1</BuildID>
                          <SHA1sum>1b818911316e4248ee01d3ec67f9d39afc3db240</SHA1sum>
                          <MD5sum>80b46fe8db7cfe58bb67e8553f495a8d</MD5sum>
                          <Filesize>173519637</Filesize>
                          <URL>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/bundles/061-4841.20080714.bgy8O/iPod1,1_1.1.5_4B1_Restore.ipsw</URL>
                          <ReleaseDate>null</ReleaseDate>
                          <UploadDate>2008-07-14T21:39:28Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>false</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>iPod1,1</Identifier>
                          <Version>1.1.4</Version>
                          <BuildID>4A102</BuildID>
                          <SHA1sum>c148d1eb1c979bb6434175411d4a372103a4fdd2</SHA1sum>
                          <MD5sum>0ed3435b4ead9aa5606ca0af66eedd90</MD5sum>
                          <Filesize>173519589</Filesize>
                          <URL>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/bundles/061-4312.20080226.Btu45/iPod1,1_1.1.4_4A102_Restore.ipsw</URL>
                          <ReleaseDate>null</ReleaseDate>
                          <UploadDate>2008-02-22T23:28:42Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>false</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>iPod1,1</Identifier>
                          <Version>1.1.3</Version>
                          <BuildID>4A93</BuildID>
                          <SHA1sum>8dca23eec69d5ae58fbf3d4a23276e46cbb2e3c6</SHA1sum>
                          <MD5sum>12d996c376d378c1333b0343ddad6cb0</MD5sum>
                          <Filesize>173511411</Filesize>
                          <URL>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/061-4060.20080115.9Iuh5/iPod1,1_1.1.3_4A93_Restore.ipsw</URL>
                          <ReleaseDate>null</ReleaseDate>
                          <UploadDate>2008-01-10T04:03:18Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>false</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>iPod1,1</Identifier>
                          <Version>1.1.2</Version>
                          <BuildID>3B48b</BuildID>
                          <SHA1sum>108d8ffe9ea75e61cd5e57170ad388b7fa00d923</SHA1sum>
                          <MD5sum>a7469c40e204a607becabaca841b718f</MD5sum>
                          <Filesize>165567897</Filesize>
                          <URL>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/bundles/061-4036.20071107.9g3DF/iPod1,1_1.1.2_3B48b_Restore.ipsw</URL>
                          <ReleaseDate>null</ReleaseDate>
                          <UploadDate>2007-11-07T20:25:19Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>false</Signed>
                        </Firmwares>
                        <Boards>
                          <BoardConfig>n45ap</BoardConfig>
                          <Platform>s5l8900x</Platform>
                          <CPID>35072</CPID>
                          <BDID>2</BDID>
                        </Boards>
                        <BoardConfig>n45ap</BoardConfig>
                        <Platform>s5l8900x</Platform>
                        <CPID>35072</CPID>
                        <BDID>2</BDID>
                      </Data>
                    </Response>
                example5:
                  value: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <Response>
                      <Data>
                        <Name>Apple TV 2G</Name>
                        <Identifier>AppleTV2,1</Identifier>
                        <Firmwares>
                          <Identifier>AppleTV2,1</Identifier>
                          <Version>7.1.2</Version>
                          <BuildID>11D258</BuildID>
                          <SHA1sum>4724347f2700dfe82fb864ecc8cdf66ea33262b1</SHA1sum>
                          <MD5sum>6677e7611ebed25d8dc33d2401b75de2</MD5sum>
                          <Filesize>698547170</Filesize>
                          <URL>http://appldnld.apple.com/iOS8/031-07202.20140917.tF6Fs/AppleTV2,1_6.2.1_11D258_Restore.ipsw</URL>
                          <ReleaseDate>2014-09-17T17:59:02Z</ReleaseDate>
                          <UploadDate>2014-09-03T17:55:56Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>true</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>AppleTV2,1</Identifier>
                          <Version>7.1.2</Version>
                          <BuildID>11D257c</BuildID>
                          <SHA1sum>a772321de7a4e4b5fa710ec3660d4a640c04ead8</SHA1sum>
                          <MD5sum>2b5ad301db18658c06ba12841c250f4d</MD5sum>
                          <Filesize>698406382</Filesize>
                          <URL>http://appldnld.apple.com/iOS7.1/031-04317.20140630.2qAFy/AppleTV2,1_6.2_11D257c_Restore.ipsw</URL>
                          <ReleaseDate>2014-06-30T18:28:53Z</ReleaseDate>
                          <UploadDate>2014-06-27T22:43:09Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>false</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>AppleTV2,1</Identifier>
                          <Version>7.1.1</Version>
                          <BuildID>11D201c</BuildID>
                          <SHA1sum>500dcc8878d0ef51b57f7c8260076d3970235d5a</SHA1sum>
                          <MD5sum>1b8d3e39e1523aeee697c0be90236e9f</MD5sum>
                          <Filesize>698303443</Filesize>
                          <URL>http://appldnld.apple.com/iOS7.1/031-01311.20140422.EaugX/AppleTV2,1_6.1.1_11D201c_Restore.ipsw</URL>
                          <ReleaseDate>2014-04-22T17:46:02Z</ReleaseDate>
                          <UploadDate>2014-04-16T23:38:39Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>false</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>AppleTV2,1</Identifier>
                          <Version>7.1</Version>
                          <BuildID>11D169b</BuildID>
                          <SHA1sum>db425818155c27df710547329c6bcdd3a7f78c1e</SHA1sum>
                          <MD5sum>8107d3d44f22c234ccf15c976c8f0331</MD5sum>
                          <Filesize>698244610</Filesize>
                          <URL>http://appldnld.apple.com/iOS7.1/031-4478.20140310.XDdib/AppleTV2,1_6.1_11D169b_Restore.ipsw</URL>
                          <ReleaseDate>2014-03-10T17:57:25Z</ReleaseDate>
                          <UploadDate>2014-03-06T20:49:52Z</UploadDate>
                          <Disabled>false</Disabled>
                          <Signed>false</Signed>
                        </Firmwares>
                        <Boards>
                          <BoardConfig>k66ap</BoardConfig>
                          <Platform>s5l8930x</Platform>
                          <CPID>35120</CPID>
                          <BDID>16</BDID>
                        </Boards>
                        <BoardConfig>k66ap</BoardConfig>
                        <Platform>s5l8930x</Platform>
                        <CPID>35120</CPID>
                        <BDID>16</BDID>
                      </Data>
                    </Response>
                example6:
                  value: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <Response>
                      <Data>
                        <Name>iPhone 5 (GSM)</Name>
                        <Identifier>iPhone5,1</Identifier>
                        <Firmwares>
                          <Identifier>iPhone5,1</Identifier>
                          <BuildID>14G61</BuildID>
                          <Version>10.3.4</Version>
                          <URL>http://updates-http.cdn-apple.com/2019/ios/091-24443-20190722-9357424A-9931-11E9-BCE8-56D0A77C2E40/com_apple_MobileAsset_SoftwareUpdate/fb90f2903f57aceabaf43bdc5aa99364faa8593e.zip</URL>
                          <Filesize>66410207</Filesize>
                          <PrerequisiteBuild>14F89</PrerequisiteBuild>
                          <PrerequisiteVersion>10.3.2</PrerequisiteVersion>
                          <Releasetype></Releasetype>
                          <UploadDate>2019-06-27T23:34:39Z</UploadDate>
                          <ReleaseDate>2019-07-22T17:07:55Z</ReleaseDate>
                          <MarketingVersion></MarketingVersion>
                          <Signed>true</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>iPhone5,1</Identifier>
                          <BuildID>14G61</BuildID>
                          <Version>10.3.4</Version>
                          <URL>http://updates-http.cdn-apple.com/2019/ios/091-24423-20190722-9357424A-9931-11E9-BCE8-53D0A77C2E40/com_apple_MobileAsset_SoftwareUpdate/1bc7b173cae90361d7820409ecc2fa5d5427144a.zip</URL>
                          <Filesize>48460066</Filesize>
                          <PrerequisiteBuild>14G57</PrerequisiteBuild>
                          <PrerequisiteVersion>10.3.3</PrerequisiteVersion>
                          <Releasetype></Releasetype>
                          <UploadDate>2019-06-27T23:34:34Z</UploadDate>
                          <ReleaseDate>2019-07-22T17:07:56Z</ReleaseDate>
                          <MarketingVersion></MarketingVersion>
                          <Signed>true</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>iPhone5,1</Identifier>
                          <BuildID>14G61</BuildID>
                          <Version>10.3.4</Version>
                          <URL>http://updates-http.cdn-apple.com/2019/ios/091-24531-20190722-93574B96-9931-11E9-B99A-5FD0A77C2E40/com_apple_MobileAsset_SoftwareUpdate/510f3fd40401a3fb35b1a22fa160f9a29730ec0c.zip</URL>
                          <Filesize>36390797</Filesize>
                          <PrerequisiteBuild>14G60</PrerequisiteBuild>
                          <PrerequisiteVersion>10.3.3</PrerequisiteVersion>
                          <Releasetype></Releasetype>
                          <UploadDate>2019-06-27T23:34:27Z</UploadDate>
                          <ReleaseDate>2019-07-22T17:07:56Z</ReleaseDate>
                          <MarketingVersion></MarketingVersion>
                          <Signed>true</Signed>
                        </Firmwares>
                        <Firmwares>
                          <Identifier>iPhone5,1</Identifier>
                          <BuildID>14G61</BuildID>
                          <Version>10.3.4</Version>
                          <URL>http://updates-http.cdn-apple.com/2019/ios/091-24126-20190722-93574042-9931-11E9-BCE8-43D0A77C2E40/com_apple_MobileAsset_SoftwareUpdate/716406ffa26c805728d3078b56129ac07fc6516c.zip</URL>
                          <Filesize>143957900</Filesize>
                          <PrerequisiteBuild>14E304</PrerequisiteBuild>
                          <PrerequisiteVersion>10.3.1</PrerequisiteVersion>
                          <Releasetype></Releasetype>
                          <UploadDate>2019-06-27T23:34:27Z</UploadDate>
                          <ReleaseDate>2019-07-22T17:07:55Z</ReleaseDate>
                          <MarketingVersion></MarketingVersion>
                          <Signed>true</Signed>
                        </Firmwares>
                        <Boards>
                          <BoardConfig>N41AP</BoardConfig>
                          <Platform>s5l8950x</Platform>
                          <CPID>35152</CPID>
                          <BDID>0</BDID>
                        </Boards>
                        <BoardConfig>N41AP</BoardConfig>
                        <Platform>s5l8950x</Platform>
                        <CPID>35152</CPID>
                        <BDID>0</BDID>
                      </Data>
                    </Response>
        '404':
          description: Not Found
          headers:
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            X-Data-Location:
              schema:
                type: string
          content: {}
      summary: Get Firmwares For Device
      operationId: firmwaresForDevice
      description: >-
        GetFirmwaresForDevice returns Firmwares for a given Device. An optional
        "type" get parameter may be

        specified to retrieve OTA Firmwares instead of normal IPSW files. 

        As of 2021-03-04, it is recommended that you use the "boards" property
        of the device, as devices can have multiple boards.
      tags:
        - Api
      parameters:
        - name: identifier
          in: path
          description: ''
          required: true
          example: iPhone8,1
          schema:
            type: string
        - name: type
          in: query
          description: ''
          required: true
          example: ipsw
          schema:
            type: string

  /devices:
    get:
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Expires:
              schema:
                type: string
            X-Data-Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    identifier:
                      type: string
                    boards:
                      type: array
                      items:
                        type: object
                        properties:
                          boardconfig:
                            type: string
                          platform:
                            type: string
                          cpid:
                            type: number
                          bdid:
                            type: number
                        required:
                          - boardconfig
                          - platform
                          - cpid
                          - bdid
                    boardconfig:
                      type: string
                    platform:
                      type: string
                    cpid:
                      type: number
                    bdid:
                      type: number
                  required:
                    - name
                    - identifier
                    - boards
                    - boardconfig
                    - platform
                    - cpid
                    - bdid
              example:
                - name: iPhone 2G
                  identifier: iPhone1,1
[...]
