--indent 2
--header strip
--commas inline
--disable wrapMultilineStatementBraces, redundantInternal
--extensionacl on-declarations
--decimalgrouping 3,4
--exclude .build, DerivedData, Sources/IPSWDownloads/Generated
